{{ template "auth_header.html". }}

<style>
    .text-danger span{
        margin-top: 5px;
        font-size: 12px;
    }
</style>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                        <h3>Sign Up</h3>
                    <!-- /Logo -->
                    <h4 class="mb-2">Adventure starts here 🚀</h4>
                    <p class="mb-4">Make your app management easy and fun!</p>

                    <form id="formAuthentication" class="mb-3" action="/auth/register" method="POST">
                        <input type="hidden" name="_csrf" value="{{.csrfToken}}">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Name</label>
                            <input
                                    type="text"
                                    class="form-control {{ if .errorName }}is-invalid{{ end }}"
                                    id="Name"
                                    name="Name"
                                    placeholder="Enter your name"
                                    required
                                    autofocus
                                    value="{{ .old.Name }}"
                            />
                            <div class="text-danger">
                                <span>{{.errorName}}</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Username" class="form-label">Username</label>
                            <input
                                    type="text"
                                    class="form-control {{if .errorUsername}}is-invalid{{end}} {{if .duplicateUsername}}is-invalid{{end}}"
                                    id="Username"
                                    name="Username"
                                    required
                                    placeholder="Enter your username"
                                    value="{{ .old.Username }}"
                            />
                            <div class="text-danger">
                                <span>{{.errorUsername}}</span>
                            </div>
                            <div class="text-danger">
                                <span>{{.duplicateUsername}}</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control {{if .errorEmail}}is-invalid{{end}} {{if .duplicateEmail}}is-invalid{{end}}" id="Email" name="Email" placeholder="Enter your email" required value="{{ .old.Email }}"/>
                            <div class="text-danger">
                                <span>{{.errorEmail}}</span>
                            </div>
                            <div class="text-danger">
                                <span>{{.duplicateEmail}}</span>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="Password">Password</label>
                            <div class="input-group input-group-merge">
                                <input
                                        type="password"
                                        id="Password"
                                        class="form-control {{if .errorPassword}}is-invalid{{end}}"
                                        name="Password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password"
                                        required
                                />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <div class="text-danger">
                                <span>{{.errorPassword}}</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" required/>
                                <label class="form-check-label" for="terms-conditions">
                                    I agree to
                                    <a href="javascript:void(0);">privacy policy & terms</a>
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100" id="signup-btn" disabled>Sign up</button>
                    </form>

                    <p class="text-center">
                        <span>Already have an account?</span>
                        <a href="/auth/">
                            <span>Sign in instead</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>

{{ template "auth_script.html"}}

{{ if .failedRegister }}
    <script>
    Swal.fire({
        title: "Error!",
        text: `{{ .failedRegister }}`,
        icon: "error",
        width: "23em"
    });
</script>
{{ end }}

<script>
    $(document).ready(function(){
        // Initially disable the button
        $('#signup-btn').prop("disabled", true);

        // Listen for changes on the checkbox
        $('#terms-conditions').change(function() {
            if ($(this).prop("checked")) {
                $('#signup-btn').prop("disabled", false);
            } else {
                $('#signup-btn').prop("disabled", true);
            }
        });
    });
</script>

{{ template "footer.html"}}