{{ template "header.html" .}}
<style>
    .select2-container {
        z-index: 99;
    }

    .select2-selection {
        padding-top: 4px !important;
        height: 38px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #d9dee3;
    }
</style>
<div class="container mt-3">
    <div class="card">
        <div class="card-content">
            <form action="/users/create" method="POST">
                <div class="card-header">
                    New User
                </div>
                <div class="card-body">
                    <div class="mb-3 row">
                        <label for="Name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="John Doe">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Username" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Username" name="Username" placeholder="JohnDoe_">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="email@example.com">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Gender" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Gender Select" id="Gender" name="Gender">
                                <option value="" {{ if eq .user.Gender "" }}selected{{ end }}>Choose a Gender</option>
                                <option value="Male" {{ if eq .user.Gender "Male" }}selected{{ end }}>Male</option>
                                <option value="Female" {{ if eq .user.Gender "Female" }}selected{{ end }}>Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-primary">Back</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{ template "script.html" }}

<script>
    $(document).ready(function() {
        $('#Gender').select2();
        let Error = "{{ .Error }}";

        if (Error){
            Swal.fire({
                title: "Error!",
                text: Error,
                icon: "error"
            });
        }
    });
</script>

{{ template "footer.html" }}
