{{ template "/layouts/header.html" .}}
<style>
    .select2-container {
        z-index: 99;
    }

    .select2-selection {
        padding-top: 4px !important;
        height: 38px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #d9dee3;
    }
</style>
<div class="container mt-3">
    <div class="card">
        <div class="card-content">
                <div class="card-header">
                    Update User
                </div>
                <div class="card-body">
                    <div class="mb-3 row">
                        <label for="Id" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Id" name="Id" value="{{ .user.Id }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Name" name="Name" value="{{ .user.Name }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Email" name="Email" value="{{ .user.Email }}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Gender" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Gender" name="Gender" value="{{ .user.Gender }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-primary">Back</a>
                </div>
        </div>
    </div>
</div>

{{ template "layouts/script.html" }}
{{ template "layouts/footer.html" }}
