{{ template "header.html" .}}
{{ template "sidebar.html" .}}
{{ template "navbar.html" .}}

<style>
  .select2-container {
    z-index: 99;
  }

  .select2-selection {
    padding-top: 4px !important;
    height: 38px !important;
  }

  .select2-container--default .select2-selection--single {
    border: 1px solid #d9dee3;
  }

  option{
    color: #767d85 !important;
  }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="col">
    <div class="card">
      <div class="card-content">
        <form action="/administrator/save-role" method="post">
          <input type="hidden" name="_csrf" value="{{.csrfToken}}">
          <div class="card-header">
            <div class="card-body">
              <div class="row">
                <div class="mb-3 col-md-4">
                  <label for="Name" class="form-label">Name</label>
                  <input
                          class="form-control {{ if .errorName }}is-invalid{{ end }}"
                          type="text"
                          id="Name"
                          name="Name"
                          value="{{.oldName}}"
                          required
                          autofocus
                  />
                  <div class="text-danger">
                    <span>{{.errorName}}</span>
                  </div>
                </div>
                <div class="mb-3 col-md-4">
                  <label for="IsActive" class="form-label">IsActive</label>
                  <select class="form-select {{ if .errorIsActive }}is-invalid{{ end }}" id="IsActive" name="IsActive" aria-label="Default select example" required>
                    <option value="">Choose a status</option>
                    <option value="1" {{ if eq .oldIsActive "1" }}selected{{ end }}>Active</option>
                    <option value="0" {{ if eq .oldIsActive "0" }}selected{{ end }}>Not Active</option>
                  </select>
                  <div class="text-danger">
                    <span>{{.errorIsActive}}</span>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col text-end">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{{ template "script.html" }}

{{ if .failedRegister }}
<script>
  Swal.fire({
    title: "Error!",
    text: `{{ .failedRegister }}`,
    icon: "error",
    width: "20em",
    timer: 3000,
    showConfirmButton: false
  });
</script>
{{ end }}

{{ if .errorInputData }}
<script>
  Swal.fire({
    title: "Error!",
    text: `{{ .errorInputData }}`,
    icon: "error",
    width: "20em",
    timer: 3000,
    showConfirmButton: false
  });
</script>
{{ end }}

{{ if .duplicateName }}
<script>
  Swal.fire({
    title: "Error!",
    text: `{{ .duplicateUsername }}`,
    icon: "error",
    width: "20em",
    timer: 3000,
    showConfirmButton: false
  });
</script>
{{ end }}

{{ if .err }}
<script>
  Swal.fire({
    title: "Error!",
    text: `{{ .err }}`,
    icon: "error",
    width: "20em",
    timer: 3000,
    showConfirmButton: false
  });
</script>
{{ end }}

<script>
  $(document).ready(function(){
    $('#IsActive').select2();
  });
</script>

{{ template "footer.html" }}